.filter-controls {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-store {
  border: 1px solid red;
  /* display: block; */
  width: 25%;
  font-size: 15px;
}
.filter-category {
  /* border: 1px solid red; */
  /* display: block; */
  width: 25%;
  font-size: 15px;
}

.filter-search {
  /* border: 1px solid red; */
  display: block;
  width: 25%;
  font-size: 15px;
}

.filter-search input {
  width: 70%;
}
