.header {
  background-color: #db0648;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headText {
  font-size: 60px;
  text-decoration: none;
  color:white;
}

.header-image-container {
  /* border: 1px solid yellow; */
  height: 100%;
  padding: 40px 0;
  box-sizing: border-box;
}
.header-logo {
  width: 30px;
  /* border: 1px solid black; */
}
