.list-preview-header-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* border: 1px solid red; */
  width: 90%;
}

.list-preview-header-control button {
  font-size: 10px;
  margin-right: 20px;
  margin-top: 2px;
  background-color: rgb(24, 172, 24);
  color: white;
}

.list-preview-header-container {
  /* border: 1px solid red; */
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.list-preview-header-container p {
  text-align: center;
  margin-bottom: 0px;
  /* border: 1px solid black; */
}

.list-preview-padding1 {
  width: 25px;
}

.list-preview-padding2 {
  width: 20px;
}

.list-preview-product-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-preview-product-container input {
  /* border: 1px solid black; */
}

.list-preview-image {
  width: 25px;
}

.list-preview-delete-button {
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  text-align: center;
  margin-top: 2px;
}
.list-preview-total-container {
  /* border: 1px solid greenyellow; */
  height: 10%;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.list-preview-total-container input {
  padding-right: 0px;
  margin-right: 0px;
  font-weight: bold;
  font-size: x-small;
  /* border: 1px solid blue; */
}

.large-size {
  width: 140px;
  /* border: 1px solid black; */
  font-size: 8px;
  border: none;
}

.medium-size {
  width: 75px;
  /* border: 1px solid black; */
  font-size: 8px;
  border: none;
}

.small-size {
  width: 45px;
  /* border: 1px solid black; */
  font-size: 8px;
  border: none;
}

.number-field {
  text-align: right;
}
