.list-preview-product-container {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
    height: 15px;
  }
  
  .list-preview-element-no-visible {
    visibility: hidden;
  }
  
  .medium-size {
    width: 200px;
  }
  
  .small-size {
    width: 25px;
  }