.list-preview-all-product_container {
  border: 1px solid lightgray;
  height: 95%;
}
.list-preview-product-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-preview-product-container input {
  /* border: 1px solid black; */
}

.list-preview-image {
  width: 25px;
  height: 25px;
}

.list-preview-delete-button {
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  text-align: center;
  margin-top: 2px;
}

.large-size {
  width: 140px;
  /* border: 1px solid black; */
  font-size: 8px;
  border: none;
}

.medium-size {
  width: 75px;
  /* border: 1px solid black; */
  font-size: 8px;
  border: none;
}

.small-size {
  width: 45px;
  /* border: 1px solid black; */
  font-size: 8px;
  border: none;
}

.number-field {
  text-align: right;
}
