.main {
  border: 1px solid green;
  /* background-image: url(http://getwallpapers.com/wallpaper/full/3/d/3/1148694-new-food-wallpaper-themes-2560x1600.jpg#.X1qvwrB5Of4.link);
  background-size: cover;
  background-position: 80% 75%; */
  /* overflow: auto; */
}
