.nav {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

.nav-sign {
  border: 1px solid blue;
  margin: 1vh;
  padding: 0.5vh;
}

.nav-login {
  margin: 1vh;
}
