.button-product-checked {
  background-color: green;
  color: #ffffff;
  width: 60px;
}

.button-product-unchecked {
  width: 60px;
}

.product-selector-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.all-product-container {
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.product-header-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 10%;
  width: 100%;
}

.product-header-container * {
  /* border: 1px solid black; */
  margin-left: 10px;
  text-align: center;
}

.padding1 {
  width: 4%;
}
.padding2 {
  width: 60px;
}

.padding3 {
  width: 11px;
}

.x {
  overflow: auto;
  /* border: 1px solid lightgray; */
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.individual-product-container {
  /* border: 1px solid red; */
  /* border-top: 1px solid lightgray; */
  /* border-bottom: 1px solid lightgray; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}

.individual-product-container * {
  margin-left: 10px;
  margin-top: 4px;
  /* border: 1px solid red; */
}

.individual-product-container input {
  border: none;
}

.product-selector-image {
  height: 25px;
  width: 25px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

.product-selector-quantity {
  background-color: rgb(247, 243, 243);
}
.list-preview-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue; */
  height: 100%;
}

.list-preview-header-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* border: 1px solid red; */
  width: 90%;
}

.list-preview-header-control button {
  font-size: 10px;
  margin-right: 20px;
  margin-top: 2px;
  background-color: rgb(24, 172, 24);
  color: white;
}

.list-preview-header-container {
  /* border: 1px solid red; */
  border-bottom: 1px solid lightgray;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.list-preview-header-container p {
  text-align: center;
  margin-bottom: 0px;
  /* border: 1px solid black; */
}

.list-preview-padding1 {
  width: 25px;
}

.list-preview-padding2 {
  width: 20px;
}

.list-preview-all-product-container {
  /* border: 1px solid orange; */
  height: 80%;
  width: 90%;
  overflow: auto;
}

.list-preview-total-container {
  /* border: 1px solid greenyellow; */
  border-top: 1px solid lightgray;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 90px;
  box-sizing: border-box;
}

.list-preview-total-container input {
  padding-right: 0px;
  margin-right: 0px;
  font-weight: bold;
  font-size: x-small;
  /* border: 1px solid blue; */
}

.list-preview-total-container p {
  font-weight: bold;
  font-size: x-small;
  /* border: 1px solid blue; */
}

.large-size-sel {
  width: 140px;
  /* border: 1px solid black; */
  font-size: 12px;
}

.medium-size-sel {
  width: 75px;
  /* border: 1px solid black; */
  font-size: 12px;
}

.small-size-sel {
  width: 33px;
  /* border: 1px solid black; */
  font-size: 12px;
}

.x-small-size-sel {
  width: 8px;
  /* border: 1px solid black; */
  font-size: 12px;
}

.large-size {
  width: 140px;
  /* border: 1px solid black; */
  font-size: 8px;
  border: none;
}

.medium-size {
  width: 75px;
  /* border: 1px solid black; */
  font-size: 8px;
  border: none;
}

.small-size {
  width: 45px;
  /* border: 1px solid black; */
  font-size: 8px;
  border: none;
}
.x-small-size {
  width: 6px;
  /* border: 1px solid black; */
  font-size: 8px;
}

.number-field {
  text-align: right;
}
