.userContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  width: 100vw;
}
.lists-header-cont {
  width: 25vw;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: 100%;
}
.userList {
  text-align: center;
  font-size: 1.5vw;
}
#header1 {
  grid-column: 1;
}
#header2 {
  grid-column: 2;
}
.lists-names-body {
  width: 25vw;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: 100%;
}
.listNames {
  grid-column: 1;
}
.listStatus {
  grid-column: 2;
}
.greeting {
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
}
.listHeaders {
  font-size: 1.5vw;
  font-weight: 700;
}
.listHeader {
  width: 35vw;
}
.listData {
  font-size: 1.5vw;
}
.list-delete-button {
  border-radius: 50px;
  width: 1.5vw;
  background-color: red;
  color: white;
  padding: 0.3vw;
  font-weight: 900;
  text-align: center;
  border: 2px solid black;
  font-size: 1vw;
  text-shadow: 2px 3px 3px black;
  -webkit-box-shadow: 3px 5px 18px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.list-delete-button:hover {
  background-color: rgb(255, 93, 93);
}
/********************/
.pickImg {
  width: 5vw;
  height: 5vh;
  border-radius: 5vw;
}
.listHead,
.list-footer {
  width: 40vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.list-headers-cont,
.list-body-cont {
  width: 40vw;
  display: grid;
  grid-template-columns: 20% 20% 10% 5% 5% 10% 25%;
  grid-template-rows: 100%;
}
.picCol {
  grid-column: 1;
}
.prodCol {
  grid-column: 2;
}
.qtyCol {
  grid-column: 3;
}
.unitCol {
  grid-column: 4;
}
.dollarCol {
  grid-column: 5;
}
.costCol {
  grid-column: 6;
}
.checkCol {
  grid-column: 7;
}

.checkbox {
  position: relative;
  background: white;
  width: 120px;
  height: 40px;
  -webkit-appearance: initial;
  border-radius: 3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ddd;
}

.checkbox:after {
  position: absolute;
  top: 5%;
  display: block;
  line-height: 32px;
  width: 45%;
  height: 90%;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in 0s;
  color: black;
  border: #888 1px solid;
  border-radius: 3px;
}
.checkbox:after {
  left: 2%;
  background: rgb(238, 56, 56);
  content: "NO";
  color: white;
}
.checkbox:checked:after {
  left: 53%;
  font-style: italic;
  background: rgb(18, 176, 18);
  content: "YES";
}
