<<<<<<< HEAD
.pickImg{
    width: 5vw;
    height: 5vh;
    border-radius: 5vw;
}
=======
.pickImg {
  width: 5vw;
  height: 5vh;
  border-radius: 5vw;
}
>>>>>>> dfc527c47bc422d3b2a60b30b09dd61f91f862e8
