.App {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 18% 5% 10% 55% 5% 5%; /* Header, Nav,Controllers,Main,Totals,Footer*/
  height: 100vh;
}
.header {
  grid-row: 1;
  grid-column: span 3;
}

.nav {
  grid-row: 2;
  grid-column: span 3;
}

.main {
  grid-row: 3 / span 2;
  grid-column: span 3;
}

.footer {
  grid-row: 6;
  grid-column: span 3;
}
